
<div class="full">
    <div class="con">
      <div class="searchfields">
        <input type="search" class="s" placeholder="search id" [(ngModel)]="searchId">
        <input type="search" class="s" placeholder="Enter email" [(ngModel)]="searchEmail">
        <input type="search" class="s" placeholder="Enter Payment mode" [(ngModel)]="searchPaymentMode">
        <!-- <input type="search" class="s" placeholder="Enter platform" [(ngModel)]="searchorderFrom"> -->
        <input type="search" class="s" placeholder="Enter Status" [(ngModel)]="searchStatus">
               
        <button (click)="toggleDropDown()" class="datebtn">Date▽</button>
      
        <div *ngIf="showDateFields" class="date-box"> <!-- Conditional display with a styled box -->
          <label for="startDate">From:</label>
          <input type="date" [(ngModel)]="searchStartDate">
          <label for="endDate">To:</label>
          <input type="date" [(ngModel)]="searchEndDate">
        </div>
        <div class="form-group">
          <select class="form-select" id="searchPlatform" [(ngModel)]="searchPlatform" name="searchPlatform">
              <option value="" disabled selected>Select Duration</option>
              <option *ngFor="let duration of durations" [value]="duration.duration">
                  {{duration.duration}}
              </option>
          </select>
      </div> 
        <button class="gs" (click)="onEnter()"><i class="bi bi-search"></i></button>
          <button class="cancels" (click)="onCancel()">Clear</button>
      
        
      </div>
      <div style="overflow-x: auto;" class="tbl">
        <table class="table table-striped table-info table-hover" id="myTable">
          <thead>
            <tr>
            <th>Id</th>
            <th>UserName</th>
            <th>Payment Mode</th>
            <th>Name</th>
            <th>email</th>
            <th>Platfomrm</th>
            <th>Price</th>
            <th>Duration</th>
            <th>SubscribedDate</th>
            <th>EndSubscribtion</th>
            <th>Status</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
       </div>
       <div class="button">
        <button (click)="create()" class="btn btn-outline-info">Register🖋️</button>
        <button (click)="update()" class="btn btn-outline-warning">Update🛠️</button>
        <button (click)="deleteEmp()" class="btn btn-danger">Unsubscribe <i class="bi bi-truck"></i></button>
        <button (click)="logOut()" class="btn btn-danger">Log Out</button>
        <br>
        <br><br>
        <!-- <button (click)="finalDelete()" class="btn btn-danger"> 🗑️ Permanently</button> -->
      </div> 
      </div>
    

      
  <footer>
    <div class="footer">
        <p>copyright reserver &#64;sambidhan </p>
    </div>
</footer>

<div class="loading-screen" *ngIf="loading">
    <div class="loading-content">
      <div class="loader"></div>
      <p>Please wait, we are logging out...</p>
    </div>
  </div>
    
    </div>
      
    
